<h1>

  <b>LISTA LOKACIJA:</b></h1>
  <hr>
<div *ngFor="let photo of photos">

  <strong>{{photo.title}}</strong>
  <br>

  <img  class="img-thumbnail" width="850" src="{{photo.imageName}}">

  <br>
  <br> 
  <b>Ime slike:</b> {{photo.photoName}}
  <br> 
  <b>Opis:</b> {{photo.description}}
  <br>
  <br>
 
  <b>Autor:</b> {{photo.user}}
  <br> 
  <b>Vrjeme postavljanja </b>: {{photo.created | date:'full'}}
  <br>
 <b>GPS cordinate:</b><br>
 longitude: {{photo.longitude}}
  <br>
  latitude: {{photo.latitude}}
  
 <agm-map [latitude]="photo.latitude" [longitude]="photo.longitude" [zoom]="zoom">
    <agm-marker [latitude]="photo.latitude" [longitude]="photo.longitude" ></agm-marker>
    
  </agm-map>
<hr>
 <br> 
</div>
 
<!--  -->