
<div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        
<h1>

  <b>Locations with full detail:</b></h1>
  <hr>
<div *ngFor="let photo of photos">

  <strong> {{photo.title}} </strong>
  <br>

  <img  src = {{photo.imageName}} class="img-thumbnail" width="850" >

  <br>
  <br> 
  <b>Ime slike:</b> {{photo.photoName}}
  <br> 
  <b>Opis:</b> {{photo.description}}
  <br>
  <br>
 
  <b>Autor:</b> 
  <br> 
  <b>Vrjeme postavljanja </b>: {{photo.created | date:'full'}}
  <br>
 <b>GPS cordinate:</b><br>
 longitude: {{photo.longitude}}
  <br>
  latitude: {{photo.latitude}}
  
 <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">

   <!--  <div *ngFor="let point of points">
        <agm-marker [latitude]="photo.point.latitude" [longitude]="photo.point.longitude"> </agm-marker>
      </div> -->
    
  </agm-map>
<hr>
 <br> 
</div>
 
</div>
<div class="col-1"></div>
</div> </div>