<div class="row">
    <div class="col-1"></div>
    <hr>
  
    <div class="col-10">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Photos by {{userName}}</h3>
            </div>
            <div class="panel-body" >
                <table class="table-responsive" >

                        <thead>
                                <th>#</th>
                                <th>photo name</th>
                                <th>title</th>
                                <th>image name</th>
                                <th>date created</th>
                                <th>Likes &nbsp;</th>
                                <th>Latitude&nbsp; </th>
                                <th>Longitude&nbsp;</th>
                            </thead>
                            <tbody>
                                <tr class="table" *ngFor="let photo of myPhotoList ; let i = index">
        
                                    <td>{{i + 1}} )</td>
                                    <td>{{photo.photoName}}</td>
                                    <td>
                                        <b>{{photo.title}}</b>
                                    </td>
                                    <td>{{photo.imageName}}</td>
                                    <td>{{photo.created | date:'fullDate'}}</td>
                                    <td>{{photo.likes}}</td>
                                    <td>{{photo.latitude}}</td>
                                    <td>{{photo.longitude}}</td>
                                    <td>
                                <button type="button" class="btn btn-primary" (click)="updatePhoto(photo)">Edit</button>
                                <button type="button" class="btn btn-danger" (click)="deletePhoto(photo)">Delete</button>
                            </td>
                        </tr>
                    </tbody>


                </table>
                <button type="button" class="btn btn-primary" (click)="addPhoto()">Add new photo</button>
            </div>
        </div>
        <td>
    </div>

   
    <div class="col-1"></div>