body {
    font-family: 'Aclonica'/* ;font-size: 22px */;
  }
  .jumbotron.text-center {
    background-image: url("https://previews.123rf.com/images/eugenesergeev/eugenesergeev1410/eugenesergeev141000061/32314660-old-white-concrete-wall-with-plaster-seamless-background-photo-texture-Stock-Photo.jpg");
}  
div.row {
  font-size: 145%;
}
div.col-1{background-image: url("https://previews.123rf.com/images/eugenesergeev/eugenesergeev1410/eugenesergeev141000061/32314660-old-white-concrete-wall-with-plaster-seamless-background-photo-texture-Stock-Photo.jpg");}   

div.parent{ 
  border:solid black 1px;
  display:table;
  padding:5px; 
  width:100%;
  margin:5px 0; /* you can change/remove margin */
}
div.text{ 
  vertical-align:middle;
  display:table-cell;
  text-align:justify;
}
div.parent .img{
  vertical-align:middle;
  display:table-cell;
  padding-right:5px;
  width:50px; /* you can change width */
}
div.img img{ 
  width:100%;
  height:50px; /* you can change height */
  vertical-align:middle;
}