<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<body>


  <div class="jumbotron text-center">
    <font>
      <h1>WELCOME TO HOME PAGE</h1>
    </font>
    <p>Today is {{today | date}}</p>

  </div>
 
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">

        <div class="well text-center">
            <font>
              <h1>Funkcionalnosti sajta</h1>
            </font>
         
        
          </div>
      <div class="bg"></div>
      <br>
      <div class="well" >
      <p>
        Ova WEB prezentacija ima za cilj da poveže zaljubljenike u prirodu, a ujedno da predstavlja i nekakav vid registra zanimljivih
        lokacija na kojima su pronadjene, uočene i uslikane određene biljne i životinjske vrste. Za sada na sajtu postoji
        samo dio koji je vezan za Leptire, gdje svi posjetioci mogu da vide listu lokacija i izvrse pretragu unjetih vrsta
        po rodu i vrsti. U detaljima lokacije se nalaze: rod i vrsta, slika, gps lokacija sa mapom i oznakom na njoj gdje je pronadjena
        vrsta i opis same lokacije. Nadam se u budućnosti povećanju funkcionalnosti sajta i uvodjenje novog topika za neke druge biljne i životinjske vrste, zavisno od potreba
        i vremena.
        <br>Postoje dvije vrste korisnika na sajtu: 
       
      </p>
      <ul style="list-style-type:circle">
          <li> <strong> Posjetioci</strong> - mogu samo da vrše pregled sadržaja </li>
          <br>
          <li> <strong> Registrovani korisnici</strong>- aktivno učestvuju u radu sajta dodavanjem lokacija</li>
          
        </ul>  
        </div>
    </div>
    <div class="col-5 well"  >

      <p>
        <strong>Leptiri (Lepidoptera)</strong> su red kukaca s dva para krila obraslih ljuskastim dlačicama koje se prekrivaju poput
        crjepova. Izgled U leptira je često spolno dvoličje koje je izraženo u veličini, obojenosti, krilima i ticalima.
        Mužjaci su obično šarenijih i življih boja. U nekih leptira pojavljuju se znatne razlike u boji prema godišnjem dobu
        (sezonsko dvoličje). Potpuno razvijeni leptiri hrane se najviše nektarom, rijetko peludom, a nekima je probavilo
        zakržljalo pa se i ne hrane. Tijelo im je dlakavo, glava slabo pokretljiva. Sastavljene oči su polukuglaste, a često
        imaju i dva jednostavna oka. Ticala su im sastavljena od mnogo članaka, a mogu biti: nitasta, četinasta, pilasta,
        češljasta, perasta i kijačasta. Prsni kolutići su stopljeni. Noge su im slabašne, a prednje su smanjene u noge za
        čišćenje. Zadak se sastoji od 6 do 7 kolutića. Prednja krila obično su veća od stražnjih. Bez krila, leptiri mogu
        biti dugi između 3 mm i 7 cm. Najveći među njima, vrste Ornithoptera alexandrae mogu imati raspon krila i veći od
        30 cm. Najmanjim leptirom se smatra patuljasti moljac s rasponom krila od svega dva milimetra, dok najveću površinu
        krila ima Attacus atlas L. iz Jugoistočne Azije. <br><strong>Životni</strong> ciklus Gusjenice najčešće žive na bilju i hrane se biljem.
        U jajetu, koje je prvi razvojni oblik leptira razvija se mlada gusjenica. Ličinke leptira su gusjenice s usnim organima
        za grizenje, većinom žive na kopnu, a neke u vodi. Hrane se uglavnom raznim biljnim dijelovima. Na glavi imaju kratka
        ticala i 4 do 6 jednostavnih očiju. Uz prave noge imaju obično 5 pari panoga (na 3. do 6. i na zadnjem začanom kolutiću).
        Za leptire je karakteristična potpuna preobrazba (holometabolija) pa između ličinačkog stadija i odrasle jedinke
        prolaze stadij kukuljice. Prije nego što se zakukulje, gusjenice se pričvrste na zaštićenu mjestu ili ispredu svilen
        zapredak, te se preobraze u slobodnu ili češće zastrtu kukuljicu. Kukuljica se doima mirnom, međutim u unutrašnjosti
        se odvijaju velike promjene, organi gusjenice se razgrađuju, a izgrađuju se unutrašnji organi leptira. Kad se odrasli
        leptir izvuče iz zapretka najprije raširi krila da se osuše. Nakon toga je spreman za let. Potpuno razvijeni leptiri
        obično žive samo kratko vrijeme, ali neki mogu i prezimiti. <br> <strong>Klasifikacija</strong> Ernst Haeckel: Microlepidoptera Leptiri
        se klasificiraju na nekoliko načina. Prema načinu na koji su tijekom leta spojena prednja i stražnja krila dijele
        se na: Jugatae (krila su spojena izbočinom prednjih krila) i Frenatae (krila su spojena aparatom na stražnjim krilima).
        Jugatea obuhvaćaju primitivne porodice kao što su: Micropterigidae, Eriocraniidae i Hepialidae dok u Frenatae spadaju
        svi ostali noćni i danji leptiri. Prema rasporedu rebara na krilima se razlikuju: Homoneura (podjednak izgled prednjih
        i stražnjih krila i podjednak broj rebara) i Heteroneura (različit oblik i broj rebara na prednjim i stražnjim krilima).
        S obzirom na broj spolnih otvora u ženki porodice se klasificiraju u Monotrysia (jedan spolni otvor) ili Ditrysia
        (dva spolna otvora). Najčešće korištena klasifikacija koristi tradicionalnu podjelu na Macrolepidoptera (veliki danji
        i noćni leptiri) i Microlepidoptera (mali noćni leptiri). Neki istraživači smatraju da se Lepidoptera dijele na 50
        dok drugi spominju čak 120 porodica leptira.[2]  <br><strong>Vrste </strong>Poznato je više od 150 000 vrsta, a u Srednjoj Europi živi
        više od 4 000 vrsta. Veće porodice su: bijelci (Pieridae), prelci četnjaci, četni prelci ili prelci povorkaši (Thaumetopoeidae),
        debeloglavci (Hesperiidae), grbice (Geometridae), gubari (Lymantriidae), ivanjske ptičice (Zygaenidae), prelci (kvočke)
        (Lasciocampidae), lastinrepci (Papilionidae), ljiljci (Sphingidae), medonjice (Arctiidae), moljci (Tineidae), okaši
        (Satyridae), plavci (Lycaenidae), sovice (Noctuidae), staklokrilci (Sesiidae), svilci (Bombycidae), šarenci (Nymphalidae),
        moljci zapredari (Hyponomeutidae), savijači (Tortricidae), moljci tuljčari (Coleophoridae), drvotočci (Cossidae),
        plamenci (Pyralidae), U Hrvatskoj je zabilježeno oko 3 000 vrsta leptira, od kojih je 186 danjih. Zakonom o zaštiti
        prirode zaštićeni su: lastin rep (Papilio machaon), prugasto jedarce (Iphiclides podalirius), apolon ili crvenooki
        parnasovac (Parnassius apollo), velika prelijevalica (Apatura iris), mala prelijevalica (Apatura ilia) i veliki topolnjak
        (Limenitis populi). [3] <br> <strong> Rasprostranjenost</strong> Žive na svim kontinentima osim Antarktike, a mnoge vrste su akutno ugrožene.
        Kako su hladnokrvne životinje, žive u područjima do 2 000 m nadmorske visine, a ponekad i još više, na toplim brdskim
        obroncima. <br> <strong>Evolucija</strong> Zbog nježne tjelesne građe postoji vrlo malo paleontoloških ostataka leptira pa se do spoznaja
        o njihovoj evoluciji dolazi posredno, preko ostataka drugih životinjskih skupina ili proučavanjem evolucije biljnih
        vrsta s kojima su zbog načina života leptiri usko povezani. Najstariji poznati fosil (Archaeolepis mane) je star
        oko 190 milijuna godina.[4] Pretpostavlja se da su se razvijali tijekom dugog razdoblja od 300 milijuna godina, a
        najstariji oblici vjerojatno su se pojavili krajem paleozoika kada su već postojali uvjeti života pogodni za leptire.
        <br> <strong> Prirodni neprijatelji</strong>  Najčešći prirodni neprijatelji dnevnih leptira su ptice, noćni šišmiši. Muhe legu jaja na gusjenice,
        a ose najeznice polažu jaja u gusjenicu ili kukuljicu. Tijelo gusjenice ili kukuljice služi kao hrana ličinkama parazitske
        muhe ili ose. Grabežljive životinje i paraziti održavaju prirodnu ravnotežu i sprječavaju da se leptiri previše namnože
        i da njihove gusjnice nanesu preveliku štetu biljkama hraniteljicama.[5] Izvori izv. tekst Emmanuelle Paroissien,
        prir. Émilie Beaumont, prijevod Blanka Pašagić, hrv. i BiH izdanje NAŠA DJECA d.o.o. 2004. ISBN 953-171-500-9 Matoničkin
        Ivo, "Beskralješnjaci - biologija viših avertebrata", Školska knjiga, Zagreb, 1981 izv. Hrvatska opća enciklopedija,
        Leksikografski zavod Miroslav Krleža, 2004. David Grimaldi|Grimaldi, David. and Michael S. Engel|Engel, Michael.
        S., Evolution of the Insects, Cambridge University Press, 2005. ISBN 0-521-82149-5 izv. Wolfgang Dierl, Leptiri,
        prijevod Paula Dubrešić, Cankarjeva založba, Ljubljana, Zagreb, 1990. ISBN 86-361-0709-1
      </p>
    </div>



    <div class="col-1"></div>