<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<body>

    <div class="container">
        <div class="jumbotron">
          <h1>Karaktereistike leptira</h1>
          <p>Resize this responsive page to see the effect!</p> 
          <p>Today is {{today | date}}</p>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-4">
            <h3>Column 3</h3>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
        </div>
      </div>
  
      <div class="container">
          <hr>
        <h2 class="well">Pogledajte životni ciklus:</h2>
    <p>Butterflies: Caterpillars and Disguises
        It's almost unbelievable that a caterpillar is actually the same animal as a
        butterfly - but it's true! Be amazed by the captivating stages in the life cycle of a 
        butterfly shown in this Miniclip. With a blend of animation and real life footage, 
        you will witness the metamorphosis from egg to haze and chrysalis phase, ending
         with a beautiful butterfly taking flight, just to repeat the cycle all over again.
        </p>
      

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3kZD6rlSLUw"></iframe>
   
    </div>
    
    <br>
   <hr>
   
  </div>




  <div class="container"> 

  <div class="row">
 <div class="col-sm-12">
    <img src="{{img}}"   class="center" alt="Responsive image"  width="100%">
  </div>

 
  </div>
  


</div>



<hr>

   

  
    


   