<div class="row" *ngIf="userService.checkLogin()">
<div class="col-1"></div>
<div class="col-md-3 col-md-offset-3" *ngIf="check()">
        <div class="well text-center">
                <h1>Add new gps location:</h1>
              </div>
<form 
(ngSubmit)="addCoordinate()" 
[formGroup]="form" >

<input 
formControlName="longitude"
 type="text" 
 name="longitude" 
 class="form-control input" 
 placeholder="Longitude" 
 [(ngModel)]="newPoint.longitude">

<br>

<input 
formControlName="latitude" 
type="text" name="latitude" 
class="form-control input" 
placeholder="Latitude" 
[(ngModel)]="newPoint.latitude">
<br>
<button class="btn btn-primary"
type="submit" >
add new coordinates</button>
</form>
</div>

<div class="col-1"></div>
</div>