<div class="row">
    <div class="col-1"></div>
   <hr>
   <div class="col-7">
   <form (ngSubmit)="upload()">
  <h1>Dodajte novi objekat:</h1>
  
  <input type="text" name="title " class="form-control input"   placeholder="Naslov" [(ngModel)]="newPhoto.title "> 
  <br>
  <input type="text" name="photoName" class="form-control input"   placeholder="Ime slike" [(ngModel)]="newPhoto.photoName"> 
  <br>
  <input type="text" name="longitude" class="form-control input"   placeholder="Longitude" [(ngModel)]="newPhoto.longitude"> 
  <br>
  <input type="text" name="latitude" class="form-control input"   placeholder="Latitude" [(ngModel)]="newPhoto.latitude"> 
  <br>
  <textarea  type="text" name="description"  class="form-control input" rows="5"  placeholder="Opis" [(ngModel)]="newPhoto.description"></textarea>
  
 <input type="file" (change)="onClickUploade($event)"
 accept=".jpeg,.jpg" >
 <br>

 <button type="submit">Upload Photo in jpge i jpg </button>
</form></div>
  <hr>
 
 <div class="col-1"></div>
</div>