<div class="row">
    <div class="col-1"></div>
   <hr>
   <div class="col-7">
      
    <form 
      (ngSubmit)="upload()" 
      [formGroup]="form" >

          <h1>Dodajte novi objekat:</h1>
          
          <input 
          formControlName="title"  
          type="text" 
          name="title" 
          class="form-control input"   
          placeholder="Naslov" 
          [(ngModel)]="newPhoto.title"
          >   
          <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
              
              <div *ngIf="title.errors.required" >Obavezno polje</div> 
              
              <div *ngIf="title.errors.minlength">
              -Minimalna duzina naslova je {{title.errors.minlength.requiredLength}} karaktera
              </div> 
                
              <div *ngIf="title.errors.maxlength">
              -Minimalna duzina naslova je  {{title.errors.maxlength.requiredLength}} karaktera
              </div>

            </div>
          
          <br>



          <div class="form-group">
          <input 
          formControlName="photoName"  
          type="text" 
          name="photoName" 
          class="form-control input"   
          placeholder="Ime slike" 
          [(ngModel)]="newPhoto.photoName"> 
          
          <div *ngIf=
          "photoName.touched 
          &&  
          photoName.invalid"
          class="alert alert-danger">

          <div *ngIf="photoName.errors.required ">-Obavezno polje</div>
          <div *ngIf="photoName.errors.minlength ">
            -Polje mora da sadrzi minimalno {{photoName.errors.minlength.requiredLength}} karaktera </div>
          <div *ngIf="photoName.errors.maxlength ">
                -Polje smije da sadrzi max {{photoName.errors.maxlength.requiredLength}} karaktera </div>
             
              
            </div>
          
          </div>
  <br>
 
   
  <input 
          formControlName="longitude"  
          type="text" 
          name="longitude" 
          class="form-control input"   
          placeholder="Longitude" 
          [(ngModel)]="newPhoto.longitude"> 
          
          <div *ngIf=
          "longitude.touched && 
          longitude.invalid" 
          class="alert alert-danger">
          <div *ngIf="longitude.errors.required ">-Obavezno polje</div>
                
          
          <!--  <div *ngIf="longitude.errors.isNumber" >
                  - Niste unjeli broj!
                  </div>  <div *ngIf="longitude.errors.canotContainSpace" >
                  - Ne smije biti white space !
                  </div>

                  

                  <div *ngIf="longitude.errors.isFloat">
                   -Unesite decimalni broj  
                  </div>
                  <div *ngIf="longitude.errors.isLenghtValid">
                    -Duzina nije validna, unesite decimalni broj u formatu XX.XXXXX !!! 
                   </div> -->
          </div> 
       
  <br>
         
  <input 
         formControlName="latitude"  
         type="text" 
         name="latitude" 
         class="form-control input"   
         placeholder="Latitude" 
         [(ngModel)]="newPhoto.latitude"> 
         
         <div *ngIf="latitude.touched && latitude.invalid" class="alert alert-danger">
       
            <div *ngIf="latitude.errors.required ">-Obavezno polje</div>
          <!--
                 <div *ngIf="latitude.errors.canotContainSpace" class="alert alert-danger" >
                 - Ne smije biti white space !
                 </div>

                 <div *ngIf="latitude.errors.isNumber" >
                 - Niste unjeli broj!
                 </div> 

                 <div *ngIf="latitude.errors.isFloat">
                  -Unesite decimalni broj 
                 </div>

                  <div *ngIf="latitude.errors.isLenghtValid">
                  -Duzina nije validna, unesite decimalni broj u formatu XX.XXXXX !!! 
                 </div> -->
         </div> 
       
 <br>
        
  <textarea  minlength="15"
      
         formControlName="description"  
         type="text" 
         name="description"  
         class="form-control input" 
         rows="5"  
         placeholder="Opis" 
         [(ngModel)]="newPhoto.description">
       
         <div *ngIf="description.errors && description.valid"
      class="alert alert-danger">
    <div *ngIf="description.errors.minlength">
      Min 10 karaktera!
  </div>
</div>

 </textarea>
       


              <br>
        <input 
           
        type="file" 
        (change)="onClickUploade($event)"
         accept=".jpeg,.jpg" >
 <br>

        <button 
        type="submit" [disabled]="!form.valid">
        Upload Photo in jpge i jpg format  </button>
</form>

</div>
  <hr>
 
 <div class="col-1"></div>
</div>