<div class="row" *ngIf="userService.checkLogin()">
    <div class="col-1"></div>
   <hr>
   <div class="col-7">
      
    <form 
      (ngSubmit)="upload()" 
      [formGroup]="form" >
      <div class="well text-center">
          <h1>Add new location:</h1>
        </div>
          <input 
          formControlName="title"  
          type="text" 
          name="title" 
          class="form-control"   
          placeholder="Title" 
          [(ngModel)]="newPhoto.title"
          >   
          <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
              
              <div *ngIf="title.errors.required" >This information must be entered</div> 
              
              <div *ngIf="title.errors.minlength">
              -Filde required min  {{title.errors.minlength.requiredLength}} characters
              </div> 
                
              <div *ngIf="title.errors.maxlength">
              -Filde required max   {{title.errors.maxlength.requiredLength}} characters
              </div>
              <div *ngIf="title.errors.isFirstLetterUppercase">
                -First letter must be uppercase
                </div>
               
            </div>
          
          <br>
 
          <input 
          formControlName="photoName"  
          type="text" 
          name="photoName" 
          class="form-control"   
          placeholder="Latin genus and species" 
          [(ngModel)]="newPhoto.photoName"> 
          
          <div *ngIf=
          "photoName.touched 
          &&  
          photoName.invalid"
          class="alert alert-danger">

         <div *ngIf="photoName.errors.required ">-This information must be entered</div>
        
         <div *ngIf="photoName.errors.minlength "> -Filde required min {{photoName.errors.minlength.requiredLength}} characters </div>
         
         <div *ngIf="photoName.errors.maxlength "> -Filde required max {{photoName.errors.maxlength.requiredLength}} characters </div>
                
        <div *ngIf="photoName.errors.mustContainSpace" >-Must contain space  </div>
        <div *ngIf="photoName.errors.isFirstLetterUppercase">
          -First letter must be uppercase
          </div>
        </div>
            <div *ngIf="isExsistsPhotoName" class="alert alert-danger">
                <font size="6">
              -This genus and species exists in our locations, you can add new GPS coordinates for {{newPhoto.photoName}}.

              <a routerLink="search">    <button> Find and add  </button> </a>
</font>
            </div>
            <br>
           
     
  <br>
 
   
 <input 
          formControlName="longitude"  
          type="text" 
          name="longitude" 
          class="form-control "   
          placeholder="Longitude" 
          [(ngModel)]="newPoint.longitude"> 
          
     <div *ngIf=
          "longitude.touched && 
          longitude.invalid" 
          class="alert alert-danger">
          
          <div *ngIf="longitude.errors.required ">-This information must be entered</div>
                
          
            <div *ngIf="longitude.errors.isNumber" >
                  - must entered number!
                  </div> 
          
                  <div *ngIf="longitude.errors.isFloat" >
                    - must entered longitude in decimal !
                    </div> 

                  
          </div> 
     
  <br>
         
  <input 
         formControlName="latitude"  
         type="text" 
         name="latitude" 
         class="form-control input"   
         placeholder="Latitude" 
         [(ngModel)]="newPoint.latitude"> 
          <div *ngIf="latitude.touched && latitude.invalid" class="alert alert-danger">
       
            <div *ngIf="latitude.errors.required ">-This information must be entered</div>
           

                 <div *ngIf="latitude.errors.isNumber" >
                  - must entered number!
                 </div> 

                 <div *ngIf="latitude.errors.isFloat">
                  - must entered float!
                 </div>

                   
         </div>  
       
 <br>
  <textarea  
         formControlName="description"  
         type="text" 
         name="description"  
         class="form-control input" 
         rows="5"  
         placeholder="Description" 
         [(ngModel)]="newPhoto.description">

 
</textarea>

              <br>
           
        <input 
         name="photo"
         type="file" 
         (change)="onClickUploade($event)"
         accept=".jpeg,.jpg" > 
 <br>
 
        <button class="btn btn-success" [disabled]="!form.valid"  
        type="submit" >
        Upload Photo in jpge and jpg format</button>
</form>

</div>
  <hr>
 
 <div class="col-1"></div>
</div>