<header>
    <nav class="navbar navbar-default">
      <a class="navbar-brand">Search, sort...</a>
    </nav>
  </header>
  
  <div class="container">
    <div class="row">
      
        <nav class="navbar">

            <input class="form-control" 
            type="text" name="search" 
            [(ngModel)]="filter"
             placeholder="Search genus,species or title">      
         
          </nav>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
    
                <th (click)="sort('photoName')">Genus and species
                  <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
               
                <th> 
                Title
        
                </th>
             
              <th>Created </th>
          </tr>
        </thead>
        <tbody>

            <tr *ngFor="
            let photo of photos 
            | orderBy: key : reverse 
            | filter:filter 
            | paginate: { itemsPerPage: 15, currentPage: p };
             let i = index">

              <td>{{i+1}}</td>
              <td>{{photo.photoName}}</td>
              <td>{{photo.title}}</td>
              <td>{{photo.created | date:'full'}}</td>
              
              <td>  <button type="button" class="btn btn-primary" (click)="photoDetail(photo)">Detail</button></td>
            </tr>
          </tbody>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </table>
    </div>
 
  </div>