<header>
    <nav class="navbar navbar-default">
      <a class="navbar-brand">Search, sort...</a>
    </nav>
  </header>
  
  <div class="container">
    <div class="row">
        <nav class="navbar">
            <input class="form-control" type="text" name="search" [(ngModel)]="filter">      
          </nav>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
    
                <th (click)="sort('photoName')">Name
                  <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
               
                <th (click)="sort('title')">Genre
                  <span class="glyphicon sort-icon" *ngIf="key =='genre'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
             
              <th>likes</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let photo of photos | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
              <td>{{i+1}}</td>
              <td>{{photo.photoName}}</td>
              <td>{{photo.title}}</td>
              <td>{{photo.likes}}</td>
            </tr>
          </tbody>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </table>
    </div>
 
  </div>