 
  <div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">

      <h1 class="well text-center"> 
        <b>Full detail of location:</b><br />
      </h1>
      <hr>
      <div>

        <strong> {{photo.title}} </strong>
        <br>

        <img src= {{photo.imageName}} class="img-thumbnail"  width="100%">

        <br>
        <br>
        <b>Latin genus and species:</b> {{photo.photoName}}
        <br>
        <b>Description:</b> {{photo.description}}
        <br>
        <br>

        <b>Author:{{user.userName}}</b>
        <br>
        <b>Time added photo </b>: {{photo.created | date:'full'}}
        <br>


        <div *ngFor="let point of points;let i = index">
          <b> GPS cordinate location no {{i+1}} :</b>
          Longitude:{{point.longitude}} Latitude: {{point.latitude}}
          <br>
        </div>
        <div *ngIf="check()">
        <button type="button" class="btn btn-primary" (click)="addGPSLocation(photo)">Add one more GPS Location</button>
      </div>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]='true'>
          <div *ngFor="let point of points"   >
            <agm-marker [latitude]="point.latitude" [longitude]="point.longitude" > </agm-marker>
          </div>
        </agm-map>
        <hr>
        <br>
       
        <div *ngIf="comments.length>0">
        <strong>Comments:</strong>  </div>
  
         <div *ngFor="let comment of comments">
            <div  class="border border-primary"  style="background-color: #BDC3C7; width:100%;" >
          <b><i> {{comment.userName}} says:</i></b> <br>{{comment.content}} <br> 
          </div>  
          <br>
         </div>  

         <div *ngIf="check()">
            <button type="button" class="btn btn-primary" (click)="addComment(photo)">Add comment</button>
          </div>
         <br>
        <button type="button" class="btn btn-primary" (click)="back()">Back</button>
      </div>

    </div>
    <div class="col-1"></div>
  </div>
</div> 