<div *ngIf="userService.checkLogin()">
    <div class="row">
        <div class="col-1"></div>
        <hr>

        <div class="col-10">
                <hr>
                Firist name: &nbsp;<strong> {{user.firistName}}</strong>
            <hr>
            <br> 
            email: &nbsp;<strong> {{user.email}}</strong>
            <hr>
            <br> 
            Username :  &nbsp;<strong>{{user.userName}}</strong>
            <hr>
            <br> password:  &nbsp;<strong>{{user.password}}</strong>
            <hr>
        
             
            <button type="button" class="btn btn-primary" 
            (click)="updateUser(user)">
            Edit profil
            </button>
       
            
            <button type="button" class="btn btn-danger" 
            (click)="deleteUser()"> Delete profil
            </button>

        </div>

        <div class="col-1"></div>
    </div>
</div>